## CMPINF 2130 Summer 2021 - Week 02

Review basic Python syntax and contrast with R syntax.

In [1]:
x_range = range(11)

In [2]:
x_range

range(0, 11)

In [3]:
for xr in x_range:
    print( xr )

0
1
2
3
4
5
6
7
8
9
10

In [4]:
x_list_from_range = list( range(11) )

In [5]:
print( x_list_from_range )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
%whos

Variable            Type     Data/Info
--------------------------------------
x_list_from_range   list     n=11
x_range             range    range(0, 11)
xr                  int      10

In [7]:
x_list_from_range_b = list( range(1, 12) )

In [9]:
print( x_list_from_range_b )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
x_list_from_range_b > 5

TypeError: '>' not supported between instances of 'list' and 'int'

In [11]:
heres_a_list = [ 1, 2.0, 'three', 'the value four', 'and five' ]

In [12]:
heres_a_list

[1, 2.0, 'three', 'the value four', 'and five']

In [13]:
[type(element) for element in heres_a_list]

[int, float, str, str, str]

In [14]:
[value > 5 for value in x_list_from_range_b]

[False, False, False, False, False, True, True, True, True, True, True]

In [15]:
[value > 5 for element in heres_a_list]

NameError: name 'value' is not defined

In [16]:
import numpy as np

In [17]:
x_vec = np.linspace(1, 11, num=11)

In [18]:
x_vec

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])

In [19]:
print( x_vec.ndim )

1

In [20]:
print( x_vec.size )

print( x_vec.shape )

11
(11,)

In [21]:
x_vec[ x_vec > 5 ]

array([ 6.,  7.,  8.,  9., 10., 11.])

In [22]:
x_vec[ x_vec == 5 ]

array([5.])

In [23]:
np.isin( x_vec, [2, 3, 7] )

array([False,  True,  True, False, False, False,  True, False, False,
       False, False])

In [24]:
x_vec[ np.isin( x_vec, [2, 3, 7] ) ]

array([2., 3., 7.])

In [25]:
x_vec[ np.isin(x_vec, [2, 3, 7], invert=True) ]

array([ 1.,  4.,  5.,  6.,  8.,  9., 10., 11.])

## Python dictionary

In [26]:
my_dict = {'a': list(range(1, 6)),
           'b': ['1', '2', '3'],
           'c': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
           'd': [True, False, True, False]}

In [27]:
my_dict

{'a': [1, 2, 3, 4, 5],
 'b': ['1', '2', '3'],
 'c': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 'd': [True, False, True, False]}

In [28]:
my_dict['b']

['1', '2', '3']

In [29]:
for a_key in my_dict:
    print( a_key )

a
b
c
d

In [30]:
for a_key in my_dict:
    print( len( my_dict[a_key] ) )

5
3
7
4

## Pandas DataFrame

In [31]:
import pandas as pd

In [32]:
my_df = pd.DataFrame({'x1': list(range(1, 5)),
                      'x2': ['yes', 'no', 'maybe', 'hello'],
                      'x3': np.linspace(-1, 1, num=4),
                      'x4': [True, False, False, True]})

In [33]:
my_df

   x1     x2        x3     x4
0   1    yes -1.000000   True
1   2     no -0.333333  False
2   3  maybe  0.333333  False
3   4  hello  1.000000   True

In [34]:
my_df.x2

0      yes
1       no
2    maybe
3    hello
Name: x2, dtype: object

In [35]:
print( type(my_df) )

<class 'pandas.core.frame.DataFrame'>

In [36]:
print( type(my_df.x2) )

<class 'pandas.core.series.Series'>

In [37]:
my_df.iloc[:, 0]

0    1
1    2
2    3
3    4
Name: x1, dtype: int64

In [38]:
my_df.loc[:, 'x1']

0    1
1    2
2    3
3    4
Name: x1, dtype: int64

In [39]:
my_df.loc[:, ['x1']]

   x1
0   1
1   2
2   3
3   4

In [40]:
print( type(my_df.loc[:, 'x1']) )

print( type(my_df.loc[:, ['x1']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [41]:
my_df.loc[:, ['x1', 'x2']]

   x1     x2
0   1    yes
1   2     no
2   3  maybe
3   4  hello

Conditionally select rows based on `x3` being greater than zero.

In [42]:
my_df.loc[ my_df.x3 > 0, : ]

   x1     x2        x3     x4
2   3  maybe  0.333333  False
3   4  hello  1.000000   True

In [43]:
my_df.loc[ my_df['x3'] > 0, : ]

   x1     x2        x3     x4
2   3  maybe  0.333333  False
3   4  hello  1.000000   True

In [44]:
my_df.loc[ (my_df.x3 > 0) & (my_df.x4 == True), : ]

   x1     x2   x3    x4
3   4  hello  1.0  True

Add a column for example define a column `x5` equal to the product of `x1` and `x3`.

In [45]:
my_df['x5'] = my_df.x1 * my_df.x3

In [46]:
my_df

   x1     x2        x3     x4        x5
0   1    yes -1.000000   True -1.000000
1   2     no -0.333333  False -0.666667
2   3  maybe  0.333333  False  1.000000
3   4  hello  1.000000   True  4.000000